
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Warranty Records</h2>
  <p><a class="button hollow" href="/core-warranty/create-warranty">Create Warranty Record</a></p>
</div>

<!-- Primary Content -------------------------------------------------------->
<div id="table-and-search">
  <!-- Search Form -->
  <input type="text" class="search" placeholder="Search warranty records...">

  <!-- Records list -->
  <table class="data-table stack">
    <thead>
      <th class="col1 sort desc" data-sort="date-server-turned-in">Date Turned In</th>
      <th class="col-hidden" data-sort="server-time-stamp">Server Time Stamp</th>
      <th class="col2 sort" data-sort="ro">RO</th>
      <th class="col3 sort" data-sort="vin">VIN</th>
      <th class="col4 sort" data-sort="vendor">Vendor</th>
      <th class="col5 sort" data-sort="customer">Customer</th>
      <th class="col6 sort" data-sort="turned-in-by">Turned In By</th>
      <th class="col7 sort" data-sort="received-by">Received By</th>
      <th class="col8 sort" data-sort="failed-part-number">Failed Part #</th>
      <th class="col9 sort" data-sort="description">Description</th>
      <th class="col10">Qty</th>
      <th class="col11">View</th>
    </thead>
    <tbody id="records-list" class="list">
    <!--------------------------------------------------------------------------->
    <!-- Handlebars ------------------------------------------------------------->
    <!--------------------------------------------------------------------------->
      {{#each warrantyData}}
        <tr class="data-row" data-sort="{{DateTimeStampServer}}" id="{{@key}}">
          <td class="date-turned-in">{{Date}}</td>
          <td class="date-server-turned-in">{{DateTimeStampServer}}</td>
          <td class="ro">{{RO}}</td>
          <td class="vin">{{VIN}}</td>
          <td class="vendor">{{Vendor}}</td>
          <td class="customer">{{Customer}}</td>
          <td class="turned-in-by">{{TurnedInBy}}</td>
          <td class="received-by">{{ReceivedBy}}</td>
          <td class="failed-part-number">{{FailedPartNumber}}</td>
          <td class="description">{{Description}}</td>
          <td class="quantity">{{Quantity}}</td>
          <td><a class="button list-record" href="record-warranty.html?KEY={{@key}}">View</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!----------------------------------------------------------------------------->
<!-- JavaScript --------------------------------------------------------------->
<!----------------------------------------------------------------------------->
<script>

  /***************************************
  * Table Sort: initial data load
  ***************************************/
  // http://jsfiddle.net/UdvDD/
  var $wrapper = $('.list');

  $wrapper.find('.data-row').sort(function (a, b) {
    return b.dataset.sort - a.dataset.sort;
  })
  .appendTo( $wrapper );

  /***************************************
  * Search and Columns Sort: List JS
  ***************************************/
  // <th> 'data-sort' value and <td> 'class' value must match to work
  /* DATE SORT required work-around:
   * (because of Date Turned In format DD/MM/YYY, which would work properly if it was YYYY/MM/DD)
   * The column "Date Turned In" contains data-sort="w-date-server-turned-in"
   * that actually sorts by the DateTimeStampServer column, which is hidden. */
  var options = {
    valueNames: [ 'date-server-turned-in', 'customer', 'description', 'failed-part-number', 'quantity', 'received-by', 'ro', 'turned-in-by', 'vendor', 'vin' ]
  };
  var monkeyList = new List('table-and-search', options);

</script>
