
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Warranty Records</h2>
  <p><a class="button hollow" href="create-warranty">Create Warranty Record</a></p>
</div>

<!-- Primary Content -------------------------------------------------------->
<div id="warranty">
  <!-- Search Form -->
  <input type="text" class="search" placeholder="Search warranty records...">

  <!-- Records list -->
  <table class="data-table stack">
    <thead>
      <th class="col1 sort desc" data-sort="w-date-server-turned-in">Date Turned In</th>
      <th class="col-hidden" data-sort="w-server-time-stamp">Server Time Stamp</th>
      <th class="col2 sort" data-sort="w-ro">RO</th>
      <th class="col3 sort" data-sort="w-vin">VIN</th>
      <th class="col4 sort" data-sort="w-vendor">Vendor</th>
      <th class="col5 sort" data-sort="w-customer">Customer</th>
      <th class="col6 sort" data-sort="w-turned-in-by">Turned In By</th>
      <th class="col7 sort" data-sort="w-received-by">Received By</th>
      <th class="col8 sort" data-sort="w-failed-part-number">Failed Part #</th>
      <th class="col9 sort" data-sort="w-description">Description</th>
      <th class="col10">Qty</th>
      <th class="col11">View</th>
    </thead>
    <tbody id="records-list" class="list">
    </tbody>
  </table>
</div>

<!--------------------------------------------------------------------------->
<!-- Handlebars ------------------------------------------------------------->
<!--------------------------------------------------------------------------->
  {{#each warranty}}
    <tr class="data-row" data-sort="{{DateTimeStampServer}}" id="{{@key}}">
      <td class="w-date-turned-in">{{Date}}</td>
      <td class="w-date-server-turned-in">{{DateTimeStampServer}}</td>
      <td class="w-ro">{{RO}}</td>
      <td class="w-vin">{{VIN}}</td>
      <td class="w-vendor">{{Vendor}}</td>
      <td class="w-customer">{{Customer}}</td>
      <td class="w-turned-in-by">{{TurnedInBy}}</td>
      <td class="w-received-by">{{ReceivedBy}}</td>
      <td class="w-failed-part-number">{{FailedPartNumber}}</td>
      <td class="w-description">{{Description}}</td>
      <td class="w-quantity">{{Quantity}}</td>
      <td><a class="button list-record" href="track-record-warranty.html?KEY={{@key}}">View</a></td>
    </tr>
  {{/each}}
