
  <!-- Title/Intro ------------------------------------------------------------>
  <div class="section-intro">
    <h1>Warranty Record Print</h2>
  </div>

  <!-- Primary Content -------------------------------------------------------->
  <div id="output-form" class="print-area">
    <div class="card">
      <div class="card-divider">
        <h4>Warranty Details</h4>
      </div>
      <table class="data-table">
        <thead>
          <tr>
            <th class="col1">R/O or Invoice#</th>
            <th class="col2">CUSTOMER</th>
            <th class="col3"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="data-row">
            <td id="core-ro">{{ templateData.RO }}</td>
            <td id="core-customer">{{ templateData.Customer }}</td>
            <td id="core-"></td>
          </tr>
        </tbody>
        <!-- New Head ---------------------->
        <thead>
          <tr>
            <th class="col1">Turned In By</th>
            <th class="col2">Date Turned In</th>
            <th class="col3">Received By</th>
          </tr>
        </thead>
        <tbody>
          <tr class="data-row">
            <td id="core-turned-in-by">{{ templateData.TurnedInBy }}</td>
            <td id="core-date-turned-in">{{ templateData.Date }}&nbsp;{{ templateData.DateTime}}</td>
            <td id="core-received-by">{{ templateData.ReceivedBy }}</td>
          </tr>
        </tbody>
        <!-- New Head ---------------------->
        <thead>
          <tr>
            <th class="col1">Failed Part #</th>
            <th class="col2">Quantity</th>
            <th class="col3"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="data-row">
            <td id="core-failed-part-number">{{ templateData.FailedPartNumber }}</td>
            <td id="core-quantity">{{ templateData.Quantity }}</td>
            <td id="core-"></td>
          </tr>
        </tbody>
        <!-- Footer ------------------------>
        <tbody id="footer">
          <tr class="data-row footer">
            <th colspan="1" style="text-align: right;">Description</th>
            <td colspan="2" id="core-description">{{ templateData.Description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- Close id=print-area -->

  <p><a class="button success" onclick="window.print()">PRINT</a></p>
