
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Dispatching</h2>
</div>

<!-- Primary Content -------------------------------------------------------->
<div id="table-and-search">
  <!-- Search Form -->
  <input type="text" class="search" placeholder="Search core records...">

  <!-- Records list -->
  <table class="data-table stack">
    <thead>
      <th class="col2 sort" data-sort="ro">RO</th>
      <th class="col5 sort" data-sort="customer">Customer</th>
      <th class="col8 sort" data-sort="failed-part-number">Failed Part #</th>
    </thead>
    <tbody id="records-list" class="list">
    <!--------------------------------------------------------------------------->
    <!-- Handlebars ------------------------------------------------------------->
    <!--------------------------------------------------------------------------->
      {{#each coreData }}
        <tr class="data-row" data-sort="{{DateTimeStampServer}}" id="{{@key}}">
          <td class="ro">{{RO}}</td>
          <td class="customer">{{Customer}}</td>
          <td class="failed-part-number">{{FailedPartNumber}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
