
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Dispatching</h2>
</div>

<!-- Primary Content -------------------------------------------------------->
<div id="table-and-search">

  <!-- Records list -->
  <table class="data-table stack">
    <thead>
      <th class="col2">RO</th>
      <th class="col5">Customer</th>
      <th class="col8">Failed Part #</th>
    </thead>
    <tbody id="records-list" class="list">
    <!--------------------------------------------------------------------------->
    <!-- Handlebars ------------------------------------------------------------->
    <!--------------------------------------------------------------------------->
      {{#each dispatchData }}
        <tr class="data-row" data-sort="{{DateTimeStampServer}}" id="{{@key}}">
          <td class="ro">{{RO}}</td>
          <td class="customer">{{Customer}}</td>
          <td class="failed-part-number">{{FailedPartNumber}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
