<script language="javascript" type="text/javascript" src="/javascripts/p5/p5.min.js"></script>
<script language="javascript" src="/javascripts/p5/p5.dom.min.js"></script>

<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Dispatching</h2>
</div>

<!-- Primary Content -------------------------------------------------------->
<div id="table-and-search">

  <!-- Records list -->
  <table class="data-table stack">
    <thead>
      <th class="col2">RO</th>
      <th class="col5">Customer</th>
      <th class="col8">Failed Part #</th>
    </thead>
    <tbody id="records-list" class="list">
    <!--------------------------------------------------------------------------->
    <!-- Handlebars ------------------------------------------------------------->
    <!--------------------------------------------------------------------------->
<!--
      {{#each dispatchData }}
        <tr class="data-row" data-sort="{{DateTimeStampServer}}" id="{{@key}}">
          <td class="ro">{{RO}}</td>
          <td class="customer">{{Customer}}</td>
          <td class="failed-part-number">{{FailedPartNumber}}</td>
        </tr>
      {{/each}}
-->
    </tbody>
  </table>
</div>

<hr>

<ul id="youtubeFB2"></ul>
<hr>
<div id="youtubeFB1"></div>


<script>

/*********************************
* p5 JS Library Initializer
*********************************/
function setup() {}
/********************************/

const divObject = document.getElementById('youtubeFB1');

const dbRefObject = firebase.database().ref().child('dispatch');

// Sync Object Changes
dbRefObject.on('value', snap => {
  divObject.innerText = JSON.stringify(snap.val(), null, 3);
});
/** Firebase Vid 2 ************************************************************/

var ulList = document.getElementById('youtubeFB2');

var dbRefDispatch = firebase.database().ref().child('dispatch');
var dbRefList = dbRefDispatch.child('hobbies');

dbRefList.on('child_added', snap => {
  var li = document.createElement('li');
  li.innerText = snap.val();
  li.id = snap.key;
  ulList.appendChild(li);
});

dbRefList.on('child_changed', snap => {
  var liChanged = document.getElementById(snap.key);
  liChanged.innerText = snap.val();
});

dbRefList.on('child_removed', snap => {
  var liToRemove = document.getElementById(snap.key);
  liToRemove.remove();
});

/*****************************************************************************
 * Retrieve core Records from Database
*****************************************************************************/

var dbRef = firebase.database().ref().child('dispatch');

dbRef.on('value', gotData => {

  var dataRows = selectAll('.data-row');
  for (var i = 0; i < dataRows.length; i++) {
    dataRows[i].remove();
  }

  // assign above core data to 'data'
  var dataVal = gotData.val();
  // Firebase keys/records: assign the core object's Firebase keys to 'keys'
  var keys = Object.keys(dataVal);
  // Loop through all the Keys/records
  for (var i = 0; i < keys.length; i++) {
    var k = keys[i];

    // Extract value from each Key record
    var Customer = dataVal[k].Customer;
    var FailedPartNumber = dataVal[k].FailedPartNumber;
    var RO = dataVal[k].RO;

    var tr = createElement('tr',
     `<td>${RO}</td>
      <td>${Customer}</td>
      <td>${FailedPartNumber}</td>
    `);
    tr.class('data-row');
    tr.parent('records-list');

  } // End for Loop
}); // End gotData(data)

</script>
