
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro dispatch received">
  <h1>Received Requests</h2>
</div>

<!-- Primary Content -------------------------------------------------------->
<div id="table-and-search">
  <!-- Search Form -->
  <input type="text" class="search" placeholder="Search received records...">

  <!-- Records list -->
  <table id="dispatchReceivedTable" class="data-table stack">
    <thead>
      <th class="col sort desc" data-sort="date-server-created">Date Created</th>
      <th class="col-hidden" data-sort="date-server-created-time-stamp">Server Time Stamp Created</th>
      <th class="col sort" data-sort="vendor">Vendor</th>
      <th class="col sort" data-sort="branch-from">From</th>
      <th class="col sort" data-sort="branch-to">To</th>
      <th class="col sort" data-sort="reference">Reference</th>
      <th class="col sort" data-sort="created-by">Submitted By</th>
      <th class="col sort" data-sort="received-by">Received By</th>
      <th class="col sort" data-sort="driver">Driver</th>
      <th class="col sort" data-sort="date-server-received">Date Received</th>
      <th class="col-hidden" data-sort="date-server-received-time-stamp">Server Time Stamp Received</th>
      <th class="col">View</th>
    </thead>
    <tbody id="records-list" class="list">
    <!--------------------------------------------------------------------------->
    <!-- Handlebars ------------------------------------------------------------->
    <!--------------------------------------------------------------------------->
      {{#each receivedData }}
        <tr class="data-row received {{BranchFrom}} {{BranchTo}} hide" data-sort="{{DateTimeStampServer}}" id="{{@key}}">
          <td class="date-server-created">{{Date}},&nbsp;{{DateTime}}</td>
          <td class="date-server-created-time-stamp">{{DateTimeStampServer}}</td>
          <td class="vendor">{{Vendor}}</td>
          <td class="branch-from">{{BranchFrom}}</td>
          <td class="branch-to">{{BranchTo}}</td>
          <td class="reference">{{Reference}}</td>
          <td class="created-by">{{CreatedByDisplayName}}</td>
          <td class="received-by">{{ReceivedByDisplayName}}</td>
          <td class="driver">{{Driver}}</td>
          <td class="date-server-received">{{ReceivedDate}},&nbsp;{{ReceivedDateTime}}</td>
          <td class="date-server-received-time-stamp">{{ReceivedDateTimeStampServer}}</td>
          <td><a class="button list-record" href="/dispatch/record-received/?KEY={{@key}}">View</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!----------------------------------------------------------------------------->
<!-- JavaScript --------------------------------------------------------------->
<!----------------------------------------------------------------------------->
<script>

  /***************************************
  * Table Sort: initial data load
  ***************************************/
  // http://jsfiddle.net/UdvDD/
  var $wrapper = $('.list');

  $wrapper.find('.data-row').sort(function (a, b) {
    return b.dataset.sort - a.dataset.sort;
  })
  .appendTo( $wrapper );

  ////////////////////////////////////////
  // Search and Columns Sort: List JS
  ////////////////////////////////////////
  // <th> 'data-sort' value and <td> 'class' value must match to work
  /* DATE SORT required work-around:
   * (because of Date Turned In format DD/MM/YYY, which would work properly if it was YYYY/MM/DD)
   * The column "Date Turned In" contains data-sort="w-date-server-turned-in"
   * that actually sorts by the DateTimeStampServer column, which is hidden. */
  var options = {
    valueNames: [ 'date-server-created', 'vendor', 'branch-from', 'branch-to', 'reference', 'created-by', 'received-by', 'driver', 'date-server-received' ]
  };
  var monkeyList = new List('table-and-search', options);


  /***************************************
  * Select Branch
  ***************************************/
  // data-row's have 'hide' class by default
  // need to .removeClass("hide") for data-row's we want to see
  // After Page Load: Remove all 'data-row' 'hide' classes for default view "All Branches"
  $(document).ready(function() {
    $(".data-row").removeClass("hide");
  });
  // listen for change on selectBranch element
  var selectBranch = document.getElementById("selectBranch");
  selectBranch.addEventListener("change", function() {
    switch(selectBranch.value) {
      // show all records (remove 'hide' classes from all rows)
      case "allBranches" :
        $(".data-row").removeClass("hide");
        break;
      // show JAX records
      case "JAX" :
        $(".data-row").addClass("hide"); // first hide all, then remove 'hide' from desired rows
        $(".data-row.JAX").removeClass("hide");
        break;
      // show NFWS records
      case "NFWS" :
        $(".data-row").addClass("hide"); // first hide all, then remove 'hide' from desired rows
        $(".data-row.NFWS").removeClass("hide");
        break;
      // show LC records
      case "LC" :
        $(".data-row").addClass("hide"); // first hide all, then remove 'hide' from desired rows
        $(".data-row.LC").removeClass("hide");
        break;
      // show WC records
      case "WC" :
        $(".data-row").addClass("hide"); // first hide all, then remove 'hide' from desired rows
        $(".data-row.WC").removeClass("hide");
        break;
      // show 440 records
      case "440" :
        $(".data-row").addClass("hide"); // first hide all, then remove 'hide' from desired rows
        $(".data-row.440").removeClass("hide");
        break;
      // show all records by default (remove 'hide' classes from all rows)
      default :
        $(".data-row").removeClass("hide");
    } // end switch
  }); // end selectBranch.addEventListener

</script>
