
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Received Record</h2>
</div>

<!-- Primary Content -------------------------------------------------------->
<table id="dispatchReceivedTable" class="data-table stack">
  <thead>
    <tr>
      <th class="col sort desc">Date Created</th>
      <th class="col sort">Vendor</th>
      <th class="col sort">From</th>
      <th class="col sort">To</th>
      <th class="col sort">Reference</th>
      <th class="col sort">Instructions</th>
      <th class="col sort">Submitted By</th>
      <th class="col sort">Driver</th>
      <th class="col sort">Date Received</th>
      <th class="col">Back to All Records</th>
    </tr>
  </thead>
  <tbody>
    <tr class="data-row list-record">
      <td id="date-server-created">{{ templateData.Date }},&nbsp;{{ templateData.DateTime }}</td>
      <td id="vendor">{{ templateData.Vendor }}</td>
      <td id="branch-from">{{ templateData.BranchFrom }}</td>
      <td id="branch-to">{{ templateData.BranchTo }}</td>
      <td id="reference">{{ templateData.Reference }}</td>
      <td id="reference">{{ templateData.Instructions }}</td>
      <td id="created-by">{{ templateData.CreatedByDisplayName }}</td>
      <td id="driver">{{ templateData.Driver }}</td>
      <td id="date-server-received">{{ templateData.ReceivedDate }},&nbsp;{{ templateData.ReceivedDateTime }}</td>
      <td><a class="button secondary" href="/dispatch/received">Back to All Records</a></td>
    </tr>
  </tbody>
</table>
