
<!-- Title/Intro -------------------------------------------------------------->
<div class="section-intro">
  <h1>Edit User</h2>
</div>

<!-- User Edit ---------------------------------------------------------------->
<!-- https://codepen.io/johngerome/pen/pdrgk -->
<div class="row expanded small-12 medium-10 large-6 columns">
  <div class="row">
    <!-- User Email ----------------------------------------------------------->
    <div class="row">
      <div class="large-6">
        <h5 style="color: #cc4b37;"><b>{{ templateData.email }}</b></h5>
      </div>
    </div>
    <br>
    <!-- Edit Display Name Form ----------------------------------------------->
    <h4>Change display name</h4>
    <form action="/users/user-edit-display-name" method="post">
      <!--Inputs----------------------------------->
      <div class="row">
        <div class="large-6">
          <h5 style="color: #cc4b37;"><b>{{ templateData.displayName }}</b></h5>
          <input id="displayName" type="text" placeholder="New display name" name="displayName">
        </div>
      </div>
      <!--Button----------------------->
      <button class="button" name="uid" value={{ uid }}>
        Update Display Name
      </button>
    </form>
    <br><br>
    <!-- End Edit Display Name Form ------------------------------------------->
    <!-- Edit Role Form ------------------------------------------------------->
    <h4>Change role</h4>
    <h5><b style="color: #cc4b37;">{{ templateData.role }}</b>&nbsp;(current role)</h5>
    <form action="/users/user-edit-role" method="post">
      <!--Inputs----------------------------------->
      <div class="row">
        <div class="large-6">
          <select id="role" placeholder="Role" name="role">
            <option value="basic">Basic</option>
            <option value="dispatch_jax">Dispatch JAX</option>
            <option value="dispatch_nfws">Dispatch NFWS</option>
            <option value="dispatch_lc">Dispatch LC</option>
            <option value="dispatch_wc">Dispatch WC</option>
            <option value="dispatch_440">Dispatch 440</option>
            <option value="admin">Administrator</option>
          </select>
        </div>
      </div>
      <!--Button----------------------->
      <button class="button" name="uid" value="{{ uid }}">
        Upate Role
      </button>
    </form>
    <br><br>
    <!-- End Edit Role Form --------------------------------------------------->
    <!-- Edit Password Form --------------------------------------------------->
    <h4>Change password</h4>
    <form action="/users/user-edit-password" method="post">
      <!--Password----------------------------------->
      <div class="row">
        <div id="passwordError"></div>
        <div class="large-6">
          <input id="password" type="password" required placeholder="New password" name="password" onkeyup="checkPass(); return false;" />
        </div>
      </div>
      <!--Password Confirm--------------------------->
      <div class="row">
        <div class="large-6">
          <input id="passwordConfirm" type="password" required placeholder="Confirm password" name="passwordConfirm" onkeyup="checkPass(); return false;" />
        </div>
      </div>
      <!--Button----------------------->
      <button id="btnUpdatePassword" class="button hide" name="uid" value={{ uid }}>
        Update Password
      </button>
    </form>
    <br><br>
    <a href="/users" class="button secondary">Cancel</a>
    <!-- End Edit Password Form ----------------------------------------------->
  </div><!-- End <div> row ---------------------------------------------------->
</div><!-- End <div> row expanded --------------------------------------------->

<script>

////////////////////////////////////////////////////////////////////////////////
// Password Validation - uses onkeyup in <input>'s of each password field
////////////////////////////////////////////////////////////////////////////////
function checkPass() {
  var pass1 = document.getElementById('password');
  var pass2 = document.getElementById('passwordConfirm');
  var btnUpdatePassword = document.getElementById('btnUpdatePassword');
  var message = document.getElementById('passwordError');
  var goodColor = "#3adb76";
  var badColor = "#cc4b37";

  // Check Password Length
  if (pass1.value.length > 5) {
    pass1.style.backgroundColor = goodColor;
    message.style.color = goodColor;
    message.innerHTML = "character number ok!"
  } else {
    pass1.style.backgroundColor = badColor;
    message.style.color = badColor;
    message.innerHTML = " You have to enter at least 6 digits!"
    btnUpdatePassword.classList.add('hide');
    return;
  }
  // Check if Passwords Match
  if (pass1.value === pass2.value) {
    pass2.style.backgroundColor = goodColor;
    message.style.color = goodColor;
    message.innerHTML = "Okay!"
    // Enable 'update password' button
    btnUpdatePassword.classList.remove('hide');
  } else {
    pass2.style.backgroundColor = badColor;
    message.style.color = badColor;
    message.innerHTML = " These passwords don't match"
    btnUpdatePassword.classList.add('hide');
  }
}

</script>
