
<!-- Title/Intro -------------------------------------------------------------->
<div class="section-intro">
  <h1>Edit User</h2>
</div>

<!-- User Edit ---------------------------------------------------------------->
<!-- https://codepen.io/johngerome/pen/pdrgk -->
<div class="row expanded small-12 medium-10 large-6 columns">
  <div class="row">
    <!-- User Email ----------------------------------------------------------->
    <div class="row">
      <div class="large-6">
        <h5 style="color: #cc4b37;"><b>{{ templateData.email }}</b></h5>
      </div>
    </div>
    <br>
    <!-- Edit Display Name Form ----------------------------------------------->
    <h4>Change display name</h4>
    <form action="/users/user-edit-display-name" method="post">
      <!--Inputs----------------------------------->
      <div class="row">
        <div class="large-6">
          <h5 style="color: #cc4b37;"><b>{{ templateData.displayName }}</b></h5>
          <input id="displayName" type="text" placeholder="New display name" name="displayName">
        </div>
      </div>
      <!--Button----------------------->
      <button class="button" name="uid" value={{ uid }}>
        Update Display Name
      </button>
    </form>
    <br><br>
    <!-- End Edit Display Name Form ------------------------------------------->
    <!-- Edit Role Form ------------------------------------------------------->
    <h4>Change user role</h4>
    <h5><b style="color: #cc4b37;">{{ templateData.role }}</b>&nbsp;(current role)</h5>
    <form action="/users/user-edit-role" method="post">
      <!--Inputs----------------------------------->
      <div class="row">
        <div class="large-6">
          <select id="role" placeholder="Role" name="role">
            <option value="basic">Basic</option>
            <option value="admin">Administrator</option>
          </select>
        </div>
      </div>
      <!--Button----------------------->
      <button class="button" name="uid" value="{{ uid }}">
        Upate Role
      </button>
    </form>
    <br><br>
    <!-- End Edit Role Form --------------------------------------------------->
    <!-- Edit Password Form --------------------------------------------------->
    <h4>Change password</h4>
    <form action="/users/user-edit-password" method="post">
      <!--Inputs----------------------------------->
      <div class="row">
        <div class="large-6">
          <input id="password" type="password" placeholder="New password" name="password">
        </div>
      </div>
      <!--Button----------------------->
      <button class="button" name="uid" value={{ uid }}>
        Update Password
      </button>
    </form>
    <br><br>
    <!-- End Edit Password Form ----------------------------------------------->
  </div><!-- End <div> row ---------------------------------------------------->
</div><!-- End <div> row expanded --------------------------------------------->
