
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Users</h2>
  <p><a class="button hollow" href="/users/user-create">Create User</a></p>
</div>

<!-- Records list -->
<table id="usersTable" class="data-table stack">
  <thead>
    <th class="col">Display Name</th>
    <th class="col">Email</th>
    <th class="col" data-sort="ro">Role</th>
    <th class="col">Edit User</th>
    <th class="col">Delete User</th>
  </thead>
  <tbody id="data-list-pre-sorted" class="list">
  <!--------------------------------------------------------------------------->
  <!-- Handlebars ------------------------------------------------------------->
  <!--------------------------------------------------------------------------->
    {{#each userData }}
      <tr class="data-row" id="{{@key}}">
        <td class="">{{ displayName }}</td>
        <td class="">{{ email }}</td>
        <td class="">{{ role }}</td>
        <td><a class="button list-record" href="/users/user-edit/?KEY={{@key}}">Edit User</a></td>
        <td><a class="button list-record" href="/users/user-delete/?KEY={{@key}}">Delete User</a></td>
      </tr>
    {{/each}}
  <tbody id="data-list-sorted" class="list">
  </tbody>
</table>
</div>

<!-- import sort code after list markup has been generated -------------------->
<script src="/javascripts/sort/data-list-sort.js"></script>
